@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Roboto-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Bernier";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/BERNIERRegular-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Sansus";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Sansus-Webissimo-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "LeviReBrushed";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/LeviReBrushed.woff2") format("woff2");
  font-display: swap;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #455a64;
  line-height: 1.42;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

section {
  position: relative;
}

.visually-hidden:not(:focus):not(:active),
.svg-placeholder {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__left,
.about__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding-bottom: 9.375rem;
}

.about__left {
  background: #efeee9;
}

.about__right {
  background: #eeebdf;
}

.about__triangle,
.works-head__triangle {
  position: absolute;
  bottom: 100%;
}

.about__section--image {
  position: absolute;
  left: 2.5rem;
  top: 0;
  fill: #6E7171;
  opacity: 0.07;
  width: 22.3125rem;
  height: 7.8125rem;
}

.about__section--wrapper {
  text-align: center;
  padding: 0 1.875rem;
}

.user-about__text {
  text-align: left;
}

.about-user-info__title {
  text-align: center;
}

.about-user-info__text {
  padding: 0 1.875rem;
}

.about-data__content {
  margin-top: 3.125rem;
  padding: 0 1.875rem;
}

.auth-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 37.5rem;
          perspective: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .user {
  text-align: center;
  position: static;
  -webkit-transform: initial;
          transform: initial;
}

.auth .user .user__name {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.125rem;
  margin-top: 0.3125rem;
}

.auth .user .user__title {
  line-height: 1.5rem;
}

.auth.auth__flip .auth__card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.auth.auth__flip ~ .auth__login {
  display: none;
}

.auth__card {
  width: 23.75rem;
  border-radius: 0.625rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.auth__side--front {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 0.625rem;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.auth__side--back {
  border-radius: 0.625rem;
  overflow: hidden;
  width: 100%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: rgba(252, 252, 252, 0.85);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
}

.auth__side--back .subtitle {
  padding: 0.625rem 5rem;
}

.auth__info {
  padding: 1.5625rem 4.375rem 0;
  background: rgba(252, 252, 252, 0.85);
}

.auth__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__photo {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 9.375rem;
  height: 9.375rem;
}

.user__photo .user__avatar {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.auth__btn {
  font-size: 0.8125rem;
  color: #fff;
  padding: 1.0625rem;
  display: block;
  text-align: center;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth__btn:first-child {
  border-radius: 0 0 0 0.625rem;
}

.auth__btn:last-child {
  border-radius: 0 0 0.625rem 0;
}

.auth__btn:last-child {
  border-right: none;
}

.mountains .auth__btn {
  background-color: #00bfa5;
  border: 0.0625rem solid #00bfa5;
}

.mountains .auth__btn:hover {
  background-color: #009688;
}

.desert .auth__btn {
  background-color: #e7a731;
  border: 0.0625rem solid #e7a731;
}

.desert .auth__btn:hover {
  background-color: #cd8920;
}

.night .auth__btn {
  background-color: #0548be;
  border: 0.0625rem solid #0548be;
}

.night .auth__btn:hover {
  background-color: #083c96;
}

.auth__login {
  width: 11.25rem;
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
}

.auth__login--link {
  width: 100%;
  border: 0.0625rem solid #ffffff;
  border-radius: 0.1875rem;
  background-color: transparent;
  color: #ffffff;
  font-weight: 500;
  line-height: 2.2575rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.auth__login--link:hover {
  background-color: #ffffff;
}

.mountains .auth__login--link:hover {
  color: #00bfa5;
}

.desert .auth__login--link:hover {
  color: #e7a731;
}

.night .auth__login--link:hover {
  color: #0548be;
}

.auth__socals {
  margin-top: 0.9375rem;
}

.auth__socals--link {
  display: inline-block;
  margin: 0 0.625rem;
}

.auth__socials--image {
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
}

.mountains {
  fill: rgba(0, 191, 165, 0.5);
}

.mountains .auth__socials--image:hover {
  fill: #00bfa5;
}

.desert {
  fill: rgba(231, 167, 49, 0.5);
}

.desert .auth__socials--image:hover {
  fill: #e7a731;
}

.night {
  fill: rgba(5, 72, 190, 0.5);
}

.night .auth__socials--image:hover {
  fill: #0548be;
}

.auth__socials--upwork {
  padding-top: 0.1875rem;
}

.auth__form {
  width: 100%;
  padding: 0.625rem 1.25rem;
}

.auth__form label {
  height: 100%;
  position: relative;
}

.auth__form span {
  font-weight: bold;
  display: block;
}

.auth__form .auth__btns {
  margin: 0 -1.25rem -0.625rem;
}

.svg-login,
.svg-password {
  width: 3.125rem;
  height: 3.3125rem;
  fill: #c4cbcd;
  position: absolute;
  left: 0;
  top: -1.0625rem;
  padding: 0.8125rem;
  background-color: #f0efe9;
  border-right: 0.0625rem solid transparent;
}

.mountains #login:focus ~ .svg-login,
.mountains #password:focus ~ .svg-password {
  border-right: 0.0625rem solid #00bfa5;
  fill: #00bfa5;
}

.desert #login:focus ~ .svg-login,
.desert #password:focus ~ .svg-password {
  border-right: 0.0625rem solid #e7a731;
  fill: #e7a731;
}

.night #login:focus ~ .svg-login,
.night #password:focus ~ .svg-password {
  border-right: 0.0625rem solid #0548be;
  fill: #0548be;
}

input:not(#human) {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.9375rem 0.9375rem 0.9375rem 3.9375rem;
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
}

input:not(#human):focus {
  outline: none;
}

.mountains input:not(#human):focus {
  border: 0.0625rem solid #00bfa5;
}

.desert input:not(#human):focus {
  border: 0.0625rem solid #e7a731;
}

.night input:not(#human):focus {
  border: 0.0625rem solid #0548be;
}

label[for="human"] {
  display: inline-block;
  margin: 0.625rem 0;
  position: relative;
}

#human {
  display: none;
  width: auto;
}

#human:checked ~ .human-check {
  fill: white;
  border: none;
}

.mountains #human:checked ~ .human-check {
  background-color: #00bfa5;
}

.desert #human:checked ~ .human-check {
  background-color: #e7a731;
}

.night #human:checked ~ .human-check {
  background-color: #0548be;
}

.human-check {
  cursor: pointer;
  position: relative;
  top: 0.1875rem;
  margin-right: 0.625rem;
  padding: 0.1875rem;
  border: 0.0625rem solid gray;
  border-radius: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  fill: transparent;
}

#sure-yes,
#sure-no {
  display: none;
}

#sure-yes:checked ~ .circle,
#sure-no:checked ~ .circle {
  background-clip: content-box;
}

.mountains #sure-yes:checked ~ .circle,
.mountains #sure-no:checked ~ .circle {
  background-color: #00bfa5;
}

.desert #sure-yes:checked ~ .circle,
.desert #sure-no:checked ~ .circle {
  background-color: #e7a731;
}

.night #sure-yes:checked ~ .circle,
.night #sure-no:checked ~ .circle {
  background-color: #0548be;
}

label[for="sure-no"],
label[for="sure-yes"] {
  padding-left: 1.5625rem;
  margin: 0.9375rem 0 1.25rem 1.5625rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.circle {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.3125rem;
  border: 0.0625rem solid #cccccc;
  border-radius: 50%;
  left: 0;
  background-color: #fff;
}

.change__theme {
  background: rgba(252, 252, 252, 0.85);
}

.change__title {
  padding: 0.625rem 0;
  text-align: center;
}

.mountains .change__title {
  color: #00bfa5;
}

.desert .change__title {
  color: #e7a731;
}

.night .change__title {
  color: #0548be;
}

.change__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.change__theme-item {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.change__theme-item span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.change__button {
  border: none;
  padding: 0;
  margin: 0;
}

.change__image {
  border-radius: 0.625rem;
}

.btn {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.mountains .btn {
  background-color: #00bfa5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mountains .btn:hover {
  background-color: #009688;
}

.desert .btn {
  background-color: #e7a731;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.desert .btn:hover {
  background-color: #cd8920;
}

.night .btn {
  background-color: #0548be;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.night .btn:hover {
  background-color: #083c96;
}

.down-arrow {
  bottom: 2.5rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.down-arrow--image {
  fill: #FFFFFF;
  opacity: 0.7;
  width: 1.5625rem;
  height: 1rem;
}

.footer {
  padding: 0 1.875rem;
  background-color: #373e42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  position: absolute;
  display: inline-block;
  right: 2.8125rem;
  top: 2.5rem;
  z-index: 99;
  width: 3rem;
  height: 2.9375rem;
  cursor: pointer;
}

.hamburger.hamburger__opened .hamburger__button {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: transparent;
  border-radius: 0.3125rem;
}

.hamburger.hamburger__opened .hamburger__button:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.hamburger.hamburger__opened .hamburger__button:after {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.hamburger.hamburger__opened ~ .menu-header__list {
  display: block;
}

.hamburger__button {
  cursor: pointer;
  outline: none;
  position: absolute;
  height: 0.25rem;
  top: 1.375rem;
  width: 100%;
  background-color: #fff;
  border: none;
}

.hamburger__button:before,
.hamburger__button:after {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  content: '';
  position: absolute;
  height: 0.25rem;
  width: 100%;
  right: 0;
  background-color: #fff;
}

.hamburger__button:before {
  top: 0.9375rem;
}

.hamburger__button:after {
  bottom: 0.9375rem;
}

.menu-header__list {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-transition: all .3ms ease-in-out;
  transition: all .3ms ease-in-out;
  z-index: 98;
  display: none;
}

.mountains .menu-header__list {
  background-color: rgba(0, 191, 165, 0.87);
}

.desert .menu-header__list {
  background-color: rgba(231, 167, 49, 0.87);
}

.night .menu-header__list {
  background-color: rgba(5, 72, 190, 0.87);
}

.menu-header__link {
  text-decoration: none;
  font-family: "Sansus",sans-serif;
  padding: 1.5625rem 5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 3.9375rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  position: relative;
}

.menu-header__link:hover:after,
.menu-header__link:hover:before {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: white;
}

.menu-header__link:after,
.menu-header__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.375rem;
  height: 0.3125rem;
  background-color: rgba(255, 255, 255, 0);
}

.menu-header__link:after {
  right: 2.5rem;
}

.menu-header__link:before {
  left: 2.5rem;
}

.mountains .menu-header__link {
  font-family: "Bernier",sans-serif;
}

.hero {
  min-height: 40.625rem;
  overflow: hidden;
  color: #ffffff;
  height: 100vh;
}

.hero__bg {
  position: absolute;
  left: 0;
}

.parallax-mount {
  display: none;
}

.mountains .hero__bg {
  top: 0;
  right: 0;
  bottom: 0;
}

.mountains .parallax-mount {
  display: block;
}

.desert .hero__bg {
  height: 100%;
  width: 382rem;
  background: url("../img/bg/sand.jpg") center left repeat-x;
  -webkit-animation: bg 120s linear infinite;
          animation: bg 120s linear infinite;
}

.night .hero__bg {
  top: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes bg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-191rem);
            transform: translateX(-191rem);
  }
}

@keyframes bg {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-191rem);
            transform: translateX(-191rem);
  }
}

.hero__title {
  text-align: center;
  width: 100%;
  padding: 0 1.875rem;
}

.hero__title--image {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10rem;
}

.hero__user-block {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -7.8125rem;
  margin-top: -8.125rem;
}

.hero__bg--image {
  max-width: 100%;
}

.nav-menu__item {
  display: inline-block;
  padding: 1.5625rem 1.5625rem 1.5625rem 0;
}

.nav-menu__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mountains .nav-menu__link:hover {
  color: #00bfa5;
}

.desert .nav-menu__link:hover {
  color: #e7a731;
}

.night .nav-menu__link:hover {
  color: #0548be;
}

.night__container {
  display: none;
}

.night .night__container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.night__video {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 110%;
  top: 0;
}

img.night__image {
  max-width: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 110%;
}

.wrapper-parallax {
  overflow: hidden;
  background-color: #fedcc8;
  width: 100%;
  height: 100%;
  position: relative;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax__layer {
  height: 100%;
  position: absolute;
  width: 187.5rem;
  left: 50%;
  margin-left: -93.75rem;
}

.parallax__image {
  position: absolute;
  bottom: 0;
}

.parallax-mount {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mountains .parallax-mount {
  display: block;
}

.parallax-mount__layer {
  height: 100%;
  position: absolute;
  width: 120%;
  left: 50%;
  margin-left: -60%;
}

.parallax-mount__image {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.mountains .preloader {
  background-color: rgba(0, 150, 136, 0.9);
}

.desert .preloader {
  background-color: rgba(205, 137, 32, 0.9);
}

.night .preloader {
  background-color: rgba(8, 60, 150, 0.9);
}

.preloader__spinner {
  width: 9.375rem;
  height: 9.375rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.preloader__animation {
  width: 9.375rem;
  height: 9.375rem;
  position: relative;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.preloader__animation,
.preloader__animation:before,
.preloader__animation:after {
  content: '';
  display: block;
  position: absolute;
  border: 0.1875rem solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
}

.preloader__animation:before {
  top: 0.8125rem;
  left: 0.8125rem;
  right: 0.8125rem;
  bottom: 0.8125rem;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

.preloader__animation:after {
  top: 0.3125rem;
  left: 0.3125rem;
  right: 0.3125rem;
  bottom: 0.3125rem;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.reviews {
  display: block;
  max-width: 100%;
  height: 31.25rem;
}

.mountains .reviews {
  background: url("../img/bg/bg.jpg") center center no-repeat;
  background-size: cover;
}

.desert .reviews {
  background: url("../img/bg/photo-desert.jpg") center center no-repeat;
  background-size: cover;
}

.night .reviews {
  background: url("../img/bg/photo-night.jpg") center center no-repeat;
  background-size: cover;
}

.hero__title--image {
  opacity: 0.06;
  display: inline-block;
  fill: #FEFEFE;
}

button {
  cursor: pointer;
}

.skill-section__title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
}

.skills__item {
  margin-bottom: 1.875rem;
}

.skill-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill {
  position: relative;
  margin: 1.25rem 0 0 1.25rem;
}

.skill__name {
  font-size: 0.8125rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mountains .skill__name {
  color: #00bfa5;
}

.desert .skill__name {
  color: #e7a731;
}

.night .skill__name {
  color: #0548be;
}

.skill__circle {
  width: 6.25rem;
  height: 6.25rem;
  display: block;
  fill: transparent;
  stroke-width: 0.9375rem;
}

.skills__circle-under {
  stroke: #dfdcd5;
}

.skills__circle-above {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 3.125rem 3.125rem;
          transform-origin: 3.125rem 3.125rem;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  stroke-dasharray: 0, 251.32;
}

.mountains .skills__circle-above {
  stroke: #10c1a8;
}

.desert .skills__circle-above {
  stroke: #e7a731;
}

.night .skills__circle-above {
  stroke: #0548be;
}

.skill__circle--HTML5 .skills__circle-above.toDasharray {
  stroke-dasharray: 238.45, 251.32;
}

.skill__circle--CSS3 .skills__circle-above.toDasharray {
  stroke-dasharray: 238.45, 251.32;
}

.skill__circle--JavaScript .skills__circle-above.toDasharray {
  stroke-dasharray: 175.7, 251.32;
}

.skill__circle--PHP .skills__circle-above.toDasharray {
  stroke-dasharray: 82.83, 251.32;
}

.skill__circle--mySQL .skills__circle-above.toDasharray {
  stroke-dasharray: 50.2, 251.32;
}

.skill__circle--Firebase .skills__circle-above.toDasharray {
  stroke-dasharray: 150.6, 251.32;
}

[class*='skill__circle--React.js'] .skills__circle-above.toDasharray {
  stroke-dasharray: 195.78, 251.32;
}

[class*='skill__circle--Node'] .skills__circle-above.toDasharray {
  stroke-dasharray: 175.7, 251.32;
}

[class*='skill__circle--Mongo'] .skills__circle-above.toDasharray {
  stroke-dasharray: 183.23, 251.32;
}

.skill__circle--Git .skills__circle-above.toDasharray {
  stroke-dasharray: 188.25, 251.32;
}

.skill__circle--Gulp .skills__circle-above.toDasharray {
  stroke-dasharray: 200.8, 251.32;
}

.skill__circle--Bower .skills__circle-above.toDasharray {
  stroke-dasharray: 125.5, 251.32;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.slider__desc {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f0efe9;
}

.slider__display {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #efebe0;
  text-align: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.slideshow__display-pic {
  display: inline-block;
  padding-bottom: 3.125rem;
}

.slider__desc--info {
  width: 26.25rem;
  margin: auto;
  text-align: center;
}

.slider__desc--item {
  display: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.slider__desc--active {
  display: block;
}

.slider__desc--skills {
  font-weight: 500;
  padding: 1.25rem 0;
}

.mountains .slider__desc--skills {
  color: #20b5a1;
  border-top: 0.125rem solid rgba(0, 150, 136, 0.3);
  border-bottom: 0.125rem solid rgba(0, 150, 136, 0.3);
}

.desert .slider__desc--skills {
  color: #e7a731;
  border-top: 0.125rem solid rgba(231, 167, 49, 0.3);
  border-bottom: 0.125rem solid rgba(231, 167, 49, 0.3);
}

.night .slider__desc--skills {
  color: #0548be;
  border-top: 0.125rem solid rgba(5, 72, 190, 0.3);
  border-bottom: 0.125rem solid rgba(5, 72, 190, 0.3);
}

.slider__desc--buttons {
  margin-top: 2.5rem;
  text-align: center;
}

.slider__desc--btn {
  width: 12.5rem;
  margin: 1.25rem auto;
}

.slider__desc--btn .btn {
  width: 100%;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__btn {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.slider__btn:hover .slider__arrow {
  fill: white;
}

.slider-btn__display {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10.625rem;
}

.slider-btn__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider-btn__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-btn__item {
  top: -100%;
}

.slider-btn__item--active {
  top: 0;
}

.slider__btn--image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(202, 201, 196, 0.6);
}

.slider__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3.3125rem;
  height: 2.125rem;
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.without__link {
  opacity: 0;
}

.slideshow__display {
  position: relative;
  width: 100%;
  height: 25rem;
}

.slideshow__link {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.slideshow__link--active {
  display: block;
}

.slideshow__display-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.socials {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item {
  margin: 0 0.9375rem;
}

.socials__image {
  height: 1.375rem;
  fill: #FFFFFF;
  opacity: .5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.socials__image:hover {
  opacity: 1;
}

.socials__image--github {
  width: 1.625rem;
}

.socials__image--upwork {
  width: 1.625rem;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__list .socials__link {
  display: inline-block;
  height: 2.1875rem;
}

.socials__list .socials__item {
  margin-left: 0.3125rem;
}

.socials__list .socials__image {
  width: 2.1875rem;
  height: 2.1875rem;
}

.socials__list .socials__image--upwork {
  width: 2.5rem;
  height: 2.5rem;
}

.title,
.subtitle {
  font-family: "Sansus",Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1.3.5625rem;
  position: relative;
  display: inline-block;
}

.title:after,
.subtitle:after {
  right: 2.5rem;
}

.title:before,
.subtitle:before {
  left: 2.5rem;
}

.mountains .title,
.mountains .subtitle {
  font-family: "Bernier", sans-serif;
}

.title {
  font-size: 3.9375rem;
  padding: 2.8125rem 5rem;
  color: #373e42;
  line-height: 4.125rem;
}

.subtitle {
  color: #455a64;
  padding: 2.5rem 5rem;
  font-size: 2.1875rem;
  line-height: 2.56312rem;
}

.title:after,
.title:before,
.subtitle:after,
.subtitle:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.375rem;
  height: 0.3125rem;
}

.title:after,
.title:before {
  background-color: rgba(55, 62, 66, 0.2);
}

.subtitle:after,
.subtitle:before {
  background-color: rgba(69, 90, 100, 0.2);
}

.triangle {
  height: 6.25rem;
  width: 50%;
}

.triangle-fill-white {
  fill: #efeee9;
}

.triangle-fill-beige {
  fill: #eeebdf;
}

.about__left .triangle {
  left: 0;
}

.about__right .triangle {
  right: 0;
}

.user__photo img {
  border-radius: 50%;
}

.user__name {
  font-size: 2.1875rem;
  font-weight: 500;
  margin-top: 1.5625rem;
}

.user__desc {
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  margin-top: 0.625rem;
}

.user-about__text p {
  margin-top: 0.9375rem;
}

.user-about__text p:last-child {
  margin-top: 1.5625rem;
}

.works-head {
  text-align: center;
  background-color: #faf8f0;
}

.works__section--image {
  opacity: .07;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.works-head__triangle {
  fill: #faf8f0;
}

.works-head__triangle:first-of-type {
  left: 0;
}

.works-head__triangle:last-of-type {
  right: 0;
}

@media screen and (max-width: 62rem) {
  html {
    font-size: 0.9375rem;
  }

  .about__section--image {
    left: 1.25rem;
  }

  .hero__bg--image {
    max-width: 150%;
  }

  .night__video {
    width: 180%;
  }

  img.night__image {
    width: 180%;
  }

  .parallax-mount__layer {
    width: 130%;
    margin-left: -75%;
  }

  .skill-section__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills__circle-above {
    -webkit-transform-origin: 3.3125rem 3.3125rem;
            transform-origin: 3.3125rem 3.3125rem;
  }
}

@media screen and (max-width: 48rem) {
  html {
    font-size: 0.875rem;
  }

  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__left,
  .about__right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-bottom: 3.125rem;
  }

  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .footer__menu {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .menu-header__link {
    font-size: 2.8125rem;
  }

  .hero__bg--image {
    max-width: 180%;
  }

  .night__video {
    width: 230%;
  }

  img.night__image {
    width: 230%;
  }

  .parallax-mount__layer {
    width: 250%;
    margin-left: -125%;
  }

  .skills {
    text-align: center;
  }

  .skill-section__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .skills__circle-above {
    -webkit-transform-origin: 3.5625rem 3.5625rem;
            transform-origin: 3.5625rem 3.5625rem;
  }

  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .slider__desc {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 18.75rem;
  }

  .slider__display {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: block;
    padding-bottom: 0;
  }

  .slideshow__display-pic {
    width: 100%;
  }

  .slider__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .triangle-fill-beige {
    fill: #efeee9;
  }
}

@media screen and (max-width: 30rem) {
  html {
    font-size: 0.8125rem;
  }

  .about__section--wrapper {
    padding: 0 0.9375rem;
  }

  .about-user-info__text {
    padding: 0 0.9375rem;
  }

  .about-data__content {
    padding: 0 0.9375rem;
  }

  .auth__login {
    top: 0.9375rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .footer {
    padding: 0 0.9375rem;
  }

  .menu-header__link {
    font-size: 2.5rem;
  }

  .hero__bg--image {
    max-width: 250%;
  }

  .night__video {
    width: 290%;
  }

  img.night__image {
    width: 290%;
  }

  .parallax-mount__layer {
    width: 330%;
    margin-left: -175%;
  }

  .skills__circle-above {
    -webkit-transform-origin: 3.8125rem 3.8125rem;
            transform-origin: 3.8125rem 3.8125rem;
  }

  .slider__desc {
    padding-bottom: 10.625rem;
  }

  .slider__display {
    margin: 0;
  }

  .slideshow__display-pic {
    padding: 0;
    margin: 0;
  }

  .socials {
    left: 0.9375rem;
  }
}

@media all and (min-height: 75rem) {
  .night__video {
    width: 230%;
  }
}

@media screen and (min-height: 68.75rem) {
  .parallax-mount__layer {
    width: 250%;
  }
}