@font-face {
  font-family: "HelveticaNeue";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/HelveticaNeue.ttf");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/HelveticaNeue BoldItalic.ttf");
}

@font-face {
  font-family: "HelveticaNeue";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/HelveticaNeue Italic.ttf");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/MyriadPro Bold.ttf");
}

@font-face {
  font-family: "MyriadPro";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/MyriadPro Semibold.ttf");
}

@font-face {
  font-family: "Novecentowide";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Novecentowide DemiBold.ttf");
}

@font-face {
  font-family: "Pacifico";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Pacifico.ttf");
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "HelveticaNeue", sans-serif;
  color: #848484;
  overflow-x: hidden;
  opacity: 1;
}

section {
  position: relative;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Myriad Pro",sans-serif;
  font-weight: 600;
  color: #222222;
}

header {
  background: url("../img/header.jpg") no-repeat;
  background-size: cover;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  padding-bottom: 282px;
}

.header__inner .title {
  padding-top: 65px;
  font: 48px 'Pacifico',sans-serif;
  color: #222222;
}

.header__inner .title .dot {
  color: #e74c3c;
}

.OS {
  display: inline-block;
  padding-top: 25px;
}

.OS__link {
  display: inline-block;
  padding: 11px;
  background-color: #000000;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0.4;
  transition: all .2s linear;
}

.OS__link:hover {
  transition: all .2s linear;
  opacity: 1;
}

.OS__image {
  width: 20px;
}

.arrow-down {
  text-align: center;
  margin-top: 30px;
}

.arrow-down a {
  opacity: .4;
  transition: all .2s linear;
}

.arrow-down a:hover {
  opacity: 1;
  transition: all .2s linear;
}

.arrow-down__image {
  display: inline-block;
  max-width: 40px;
}

.features {
  background-color: #fff;
}

.features__inner {
  padding-top: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
}

.features__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
  align-items: flex-start;
}

.features__blocks {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(23.33333% - 30px);
}

.features__item {
  padding-top: 35px;
  padding-left: 10px;
}

.phone {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(26.66667% - 30px);
  margin-top: -240px;
}

.features__title {
  font-size: 18px;
}

.features__text {
  margin-top: 9px;
}

.about {
  background-color: #e8e8e8;
}

.about__inner {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 60px;
}

.about__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: space-around;
  align-items: flex-start;
}

.about__description {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(37.5% - 30px);
  margin-left: 85px;
}

.about__video {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
  margin-right: 5px;
}

.about__video video {
  max-width: 400px;
  border-radius: 8px;
}

.about__title {
  font-size: 24px;
  line-height: 20px;
}

.about__text {
  margin-top: 18px;
}

.about__text span {
  display: block;
  margin-top: 10px;
}

.about__list {
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 15px;
}

.about__list li {
  line-height: 24px;
  position: relative;
}

.about__list li:before {
  content: url("../img/bullet.png");
  position: absolute;
  top: 2px;
  transform: scale(0.8);
  left: -18px;
}

.why {
  text-align: center;
  background-color: white;
}

.why__inner {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.why__title {
  font-size: 24px;
}

.why__text {
  display: inline-block;
  width: 71%;
  margin: 8px auto 45px;
}

.why__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center;
}

.why__features {
  position: relative;
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(26.66667% - 30px);
  padding-bottom: 45px;
}

.why__features:after,
.why__features:before {
  content: '';
  position: absolute;
  background-color: #e3e3e3;
}

.why__features:after {
  width: 1px;
  right: 0;
  top: 15px;
  bottom: 15px;
}

.why__features:nth-child(3n):after {
  width: 0;
}

.why__features:nth-child(n+4):before {
  height: 1px;
  left: 15px;
  right: 15px;
  top: 0;
}

.why__image {
  padding-top: 40px;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.why__image-title {
  font-size: 19px;
  margin-top: 10px;
}

.why__image-text {
  margin-top: 10px;
}

.price {
  background-color: #e8e8e8;
}

.price__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
  text-align: center;
}

.price__title {
  font-size: 24px;
}

.price__about {
  display: inline-block;
  width: 71%;
  margin-top: 8px;
}

.tariffs {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tariffs__item {
  margin: 0 2px -50px;
  width: calc(22.5% - 30px);
}

.tariffs__name {
  color: #fefefe;
  font-size: 20px;
  padding: 5px 0;
  background-color: #322e2e;
}

.tariffs_price {
  font-family: "Novecentowide",sans-serif;
  font-weight: 600;
  font-size: 34px;
  color: #222222;
}

.tariffs_price sup {
  font-size: 20px;
}

.tariffs__features {
  padding: 0 20px;
}

.tariffs__features li {
  border-top: 1px solid #c2c2c2;
  padding: 6px 0;
}

.tariffs__purchase {
  background-color: #322e2e;
  padding: 16px 0;
}

.tariffs__purchase button {
  padding: 8px 25px;
  font-family: "Myriad Pro",sans-serif;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.tariffs__purchase button:hover {
  transition: all 0.2s linear;
  color: #848484;
  background-color: white;
}

.tariffs__item--deluxe .tariffs__name,
.tariffs__item--deluxe .tariffs__purchase {
  background-color: #e74c3c;
}

.testimonials {
  background-color: #fff;
}

.testimonials__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.testimonials__slider {
  margin-bottom: 50px;
}

.testimonials__text {
  display: none;
  margin-top: 100px;
  line-height: 1.6rem;
}

.testimonials__text--show {
  display: block;
  animation: opacity 1s ease-in-out;
}

.testimonials__text--show cite {
  display: inline-block;
  font-style: italic;
  font-size: 18px;
  color: #848484;
  max-width: 800px;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.testimonials__author {
  margin-top: 10px;
  display: block;
  font-family: "MyriadPro",sans-serif;
  font-weight: 600;
  color: #000000;
}

.testimonials__dots {
  margin-top: 30px;
}

.testimonials__dot {
  cursor: pointer;
  padding: 4px;
  border: 2px solid #e74c3c;
  border-radius: 50%;
  background-color: #fff;
}

.testimonials__dot--active {
  background-color: #e74c3c;
}

.subscribe {
  text-align: center;
  background: url("../img/footer.jpg") no-repeat gray;
  background-size: cover;
}

.subscribe__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.subscribe__title {
  font-size: 24px;
  padding-top: 35px;
  color: #000000;
}

.subscribe__form {
  margin-top: 20px;
}

.subscribe__email,
.subscribe__button {
  padding: 20px;
  border: none;
  font-family: "MyriadPro",sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.subscribe__email {
  background-color: rgba(0, 0, 0, 0.65);
  width: 260px;
}

.subscribe__email::placeholder {
  color: rgba(255, 255, 255, 0.65);
}

.subscribe__button {
  background-color: #e74c3c;
}

.get-in-touch {
  background-color: #fff;
  text-align: center;
}

.get-in-touch__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
}

.get-in-touch__title {
  font-size: 24px;
  color: #000000;
  margin-top: 35px;
}

.get-in-touch__text {
  margin-top: 7px;
}

.get-in-touch__socials {
  margin-top: 18px;
}

.get-in-touch__item {
  display: inline-block;
}

.get-in-touch__link {
  box-sizing: border-box;
  background-color: #c5c5c5;
  width: 25px;
  height: 25px;
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
  transition: all .2s linear;
}

.get-in-touch__link:hover {
  background-color: #e74c3c;
  transition: all .2s linear;
}

footer {
  background-color: #e8e8e8;
  text-align: center;
}

.menu {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding: 30px 0;
}

.menu__item {
  display: inline-block;
  padding: 10px;
}

.menu__link {
  text-decoration: none;
  color: #848484;
  transition: all .2s linear;
}

.menu__link:hover {
  color: #e74c3c;
  transition: all .2s linear;
}

@media screen and (max-width: 1100px) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .features__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .features__blocks {
    width: calc(33.33333% - 30px);
  }

  .about__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .about__description {
    width: calc(50% - 30px);
  }

  .about__description {
    margin-left: 0;
  }

  .about__video {
    width: calc(50% - 30px);
  }

  .about__video {
    text-align: right;
  }

  .why__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .why__features {
    width: calc(33.33333% - 30px);
  }

  .price__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .tariffs__item {
    width: calc(25% - 30px);
  }

  .testimonials__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscribe__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .get-in-touch__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .menu {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .features__blocks {
    width: calc(36.66667% - 30px);
  }

  .about__video video {
    max-width: 100%;
  }

  .testimonials__text {
    margin-top: 50px;
  }
}

@media screen and (max-width: 780px) {
  .header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .features__blocks {
    text-align: center;
  }

  .features__item {
    padding-top: 15px;
  }

  .about__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__description {
    width: calc(100% - 30px);
  }

  .about__description {
    text-align: center;
  }

  .about__video {
    width: calc(100% - 30px);
  }

  .about__video {
    text-align: center;
    margin-top: 15px;
  }

  .about__list {
    text-align: left;
  }

  .why__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .why__features {
    width: calc(50% - 30px);
  }

  .price__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tariffs__item {
    width: calc(50% - 30px);
  }

  .tariffs__item {
    margin-bottom: 5px;
  }

  .tariffs__item--deluxe {
    order: 4;
  }

  .testimonials__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .subscribe__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .get-in-touch__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 560px) {
  .features__blocks {
    width: calc(100% - 30px);
  }

  .phone {
    width: calc(33.33333% - 30px);
  }

  .phone {
    margin-top: -470px;
  }

  .why__features {
    width: calc(100% - 30px);
  }

  .tariffs__item {
    width: calc(83.33333% - 30px);
  }

  .subscribe__email {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  .subscribe__button {
    box-sizing: border-box;
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}