@font-face {
  font-family: "Raleway";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Raleway-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Raleway-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Yantramanav";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Yantramanav-Black.woff2") format("woff2");
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
}

body {
  font-size: 19px;
  position: relative;
  line-height: 1.65;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 100;
  overflow-x: hidden;
  opacity: 1;
  background-color: #191e3f;
}

section {
  position: relative;
}

img {
  display: block;
}

header {
  background: url("../img/mountain-back.png") center top no-repeat;
  background-size: auto;
}

.background-fill {
  background-color: rgba(25, 30, 63, 0.75);
}

.header__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 84px;
  width: 127px;
  margin-right: 32px;
}

.hamburger {
  position: fixed;
  display: inline-block;
  right: 10px;
  top: 99px;
  z-index: 100;
}

.hamburger.hamburger__opened {
  right: 160px;
}

.hamburger.hamburger__opened .hamburger__button {
  transition: all .4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}

.hamburger.hamburger__opened .hamburger__button:before {
  transition: all .4s ease-in-out;
  transform: rotate(45deg);
  top: 22px;
}

.hamburger.hamburger__opened .hamburger__button:after {
  transition: all .4s ease-in-out;
  transform: rotate(-45deg);
  bottom: 22px;
}

.hamburger__button {
  outline: none;
  position: relative;
  width: 48px;
  height: 47px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburger__button:before,
.hamburger__button:after {
  transition: all .4s ease-in-out;
  content: '';
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  background-color: #fff;
}

.hamburger__button:before {
  top: 15px;
}

.hamburger__button:after {
  bottom: 15px;
}

.slogan {
  font-size: 77px;
  line-height: 88.44px;
  font-weight: 100;
  letter-spacing: -1.8px;
  margin-top: 310px;
}

.menu-header__list {
  padding-top: 20px;
  position: fixed;
  right: -150px;
  top: 0;
  height: 100vh;
  width: 150px;
  text-align: left;
  background-color: #fff;
  transition: all .4ms ease-in-out;
  z-index: 100;
}

.menu-header__list.menu-header__opened {
  animation: ease-in-out 0.4s forwards moveLeftMenu;
}

@keyframes moveLeftMenu {
  to {
    right: 0;
  }
}

.menu-header__link {
  text-decoration: none;
  padding: 15px;
  color: #191e3f;
  transition: all .2s ease-in-out;
}

.menu-header__link:hover {
  text-shadow: 5px 5px 10px #000;
  transition: all .2s ease-in-out;
}

.mission {
  margin-top: 644px;
}

.section__title {
  position: absolute;
  z-index: 1;
  font-family: "Yantramanav",sans-serif;
  font-weight: 900;
  font-size: 286px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.01);
  transition: all .5s ease-in-out;
}

.section__title span {
  position: absolute;
  font-family: Raleway,sans-serif;
  font-weight: 100;
  font-size: 33px;
  transform: rotate(-90deg);
  left: 85px;
  bottom: 134px;
  z-index: 3;
  letter-spacing: 0;
  color: #ffffff;
}

.mission__title {
  top: 173px;
  left: -75px;
  letter-spacing: -17.16px;
}

.mission__image {
  position: relative;
  width: 660px;
  left: 163px;
  z-index: 4;
  box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
}

.mission_text {
  text-align: left;
  position: absolute;
  width: 474px;
  z-index: 4;
  right: 0;
  top: 240px;
  line-height: 1.2;
  transition: all .5s ease-in-out;
}

.mission_text p:nth-child(n + 2) {
  margin-top: 25px;
}

.transitionRight {
  transform: translateX(200px);
  opacity: 0;
  transition: all 0.3s linear;
}

.transitionLeft {
  transform: translateX(-200px);
  opacity: 0;
  transition: all 0.3s linear;
}

.doTransition .transitionRight,
.doTransition .transitionLeft {
  transform: none;
  opacity: 1;
  transition: all 0.3s linear;
}

.projects {
  margin-top: 185px;
  background: url("../img/projects_background.jpg") no-repeat top center;
}

.projects__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

.section__letter {
  position: relative;
  display: block;
  font-weight: 900;
  font-size: 1296px;
  text-transform: uppercase;
  line-height: 1;
  color: rgba(25, 30, 63, 0.61);
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
}

.projects__letter {
  left: -220px;
  top: -145px;
}

.projects__title {
  right: 40px;
  top: 120px;
  letter-spacing: -5.72px;
}

.projects__logos {
  position: absolute;
  top: 260px;
  left: 80px;
  transition: all .5s ease-in;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  width: calc(75% - 30px);
  align-items: center;
}

.projects__link {
  width: calc(33.33333% - 30px);
  margin: 55px 15px;
}

.team {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 1125px;
}

.team__title {
  left: 0;
  letter-spacing: -5.72px;
}

.team__title span {
  left: 105px;
}

.team__letter {
  top: 375px;
  z-index: 1;
}

.person_image {
  position: absolute;
  z-index: 2;
  box-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  transition: all .5s ease-in-out;
}

.person__description {
  position: absolute;
  z-index: 3;
  text-align: left;
  transition: all .5s ease-in-out;
}

.team__person:nth-of-type(1) .person_image {
  top: 60px;
  right: 165px;
}

.team__person:nth-of-type(1) .person__description {
  top: 372px;
  left: 295px;
  width: 320px;
}

.team__person:nth-of-type(2) .person_image {
  top: 868px;
  left: 40px;
}

.team__person:nth-of-type(2) .person__description {
  top: 1079px;
  right: 576px;
}

.team__person:nth-of-type(3) .person_image {
  top: 998px;
  right: 68px;
}

.team__person:nth-of-type(3) .person__description {
  top: 1248px;
  right: 250px;
}

.team__person:nth-of-type(4) .person_image {
  top: 1435px;
  right: 715px;
}

.team__person:nth-of-type(4) .person__description {
  top: 1682px;
  left: 70px;
}

.team__person:nth-of-type(5) .person_image {
  top: 1663px;
  left: 733px;
}

.team__person:nth-of-type(5) .person__description {
  top: 1911px;
  right: -30px;
}

.person__name {
  display: block;
  font-size: 38px;
  position: relative;
  padding-top: 20px;
}

.person__name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #ffffff;
  width: 58px;
}

.person__position {
  opacity: 0.5;
  display: block;
}

.person__about {
  font-size: 15px;
  display: block;
  padding-top: 37px;
  line-height: 1.2;
}

.person__about p:nth-child(2) {
  padding-top: 20px;
}

footer {
  background: url("../img/footer_background.jpg") no-repeat center top;
}

.footer__inner {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.events__letter {
  text-align: right;
  opacity: 0.61;
  text-shadow: 0 178px 152px rgba(0, 0, 0, 0.45);
  bottom: 330px;
  right: -130px;
}

.events__title {
  top: -158px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: -5.72px;
}

.events__title span {
  left: 105px;
}

.events__description {
  position: absolute;
  left: 70px;
  top: 275px;
  width: 480px;
  transition: all .5s ease-in-out;
}

.events__slogan {
  font-size: 72px;
  line-height: 83.11px;
  letter-spacing: -1.14px;
}

.events__text {
  padding-top: 40px;
  line-height: 1.2;
}

.events__text p:nth-child(2) {
  padding-top: 25px;
}

.footer {
  text-align: center;
  margin-top: -315px;
  padding-bottom: 205px;
}

.logo-footer__link {
  position: relative;
  right: 10px;
  display: inline-block;
}

.menu-footer {
  margin-top: 15px;
}

.menu-footer__item {
  margin: 0 10px;
  display: inline-block;
}

.menu-footer__link {
  color: #ffffff;
  font-size: 15px;
}

@media screen and (max-width: 1100px) {
  .mission {
    margin-top: 500px;
  }

  .team__person:nth-of-type(4) .person_image {
    right: 500px;
  }

  .team__person:nth-of-type(5) .person_image {
    left: 600px;
  }
}

@media screen and (max-width: 960px) {
  header {
    background-size: contain;
  }

  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .mission {
    margin-top: 300px;
  }

  .mission__title {
    top: 100px;
  }

  .mission__image {
    width: calc(83.33333% - 30px);
  }

  .projects {
    margin-top: 150px;
  }

  .projects {
    background-size: contain;
  }

  .projects__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section__letter {
    font-size: 1000px;
  }

  .team {
    padding-left: 30px;
    padding-right: 30px;
  }

  .team__person:nth-of-type(1) .person_image {
    top: 0;
  }

  .team__person:nth-of-type(1) .person_image {
    width: calc(83.33333% - 30px);
  }

  .team__person:nth-of-type(1) .person__description {
    width: calc(66.66667% - 30px);
  }

  .team__person:nth-of-type(1) .person__description {
    left: 230px;
  }

  .team__person:nth-of-type(2) .person_image {
    width: calc(50% - 30px);
  }

  .team__person:nth-of-type(3) .person_image {
    width: calc(50% - 30px);
  }

  .team__person:nth-of-type(3) .person__description {
    right: 100px;
    top: 1100px;
  }

  .team__person:nth-of-type(4) .person_image {
    width: calc(50% - 30px);
  }

  .team__person:nth-of-type(4) .person_image {
    right: 400px;
  }

  .team__person:nth-of-type(5) .person_image {
    width: calc(50% - 30px);
  }

  .team__person:nth-of-type(5) .person_image {
    left: 500px;
  }

  .footer__inner {
    padding-left: 30px;
    padding-right: 30px;
  }

  .events__title {
    top: 100px;
  }

  .events__description {
    top: 350px;
  }
}

@media screen and (max-width: 780px) {
  .header__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mission {
    margin-top: 100px;
  }

  .mission__title {
    top: 50px;
  }

  .mission__image {
    left: 100px;
  }

  .mission_text {
    width: calc(83.33333% - 30px);
  }

  .projects {
    margin-top: 100px;
  }

  .projects__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section__letter {
    font-size: 800px;
  }

  .projects__letter {
    left: 0;
  }

  .team {
    padding-left: 15px;
    padding-right: 15px;
  }

  .team__person:nth-of-type(1) .person_image {
    right: 0;
  }

  .team__person:nth-of-type(1) .person__description {
    width: calc(83.33333% - 30px);
  }

  .team__person:nth-of-type(1) .person__description {
    top: 260px;
    left: 0;
  }

  .team__person:nth-of-type(1) .person__description {
    width: calc(100% - 30px);
  }

  .team__person:nth-of-type(2) .person_image {
    top: 650px;
  }

  .team__person:nth-of-type(2) .person_image {
    width: calc(66.66667% - 30px);
  }

  .team__person:nth-of-type(2) .person__description {
    top: 750px;
    right: 380px;
  }

  .team__person:nth-of-type(3) .person_image {
    width: calc(66.66667% - 30px);
  }

  .team__person:nth-of-type(4) .person_image {
    width: calc(66.66667% - 30px);
  }

  .team__person:nth-of-type(4) .person_image {
    right: 300px;
  }

  .team__person:nth-of-type(5) .person_image {
    left: 350px;
  }

  .team__person:nth-of-type(5) .person_image {
    width: calc(66.66667% - 30px);
  }

  .footer__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .events__description {
    left: 0;
  }

  .events__description {
    width: calc(100% - 30px);
  }

  .footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 560px) {
  body {
    font-size: 16px;
  }

  .slogan {
    font-size: 50px;
  }

  .mission_text {
    top: 100px;
  }

  .projects {
    margin-top: 50px;
  }

  .projects__logos {
    width: calc(100% - 30px);
  }

  .projects__logos {
    left: 50%;
    transform: translateX(-50%);
  }

  .team__person:nth-of-type(1) .person__description {
    top: 160px;
  }

  .team__person:nth-of-type(2) .person__description {
    right: 100px;
  }

  .team__person:nth-of-type(4) .person_image {
    right: 100px;
    top: 1350px;
  }

  .team__person:nth-of-type(4) .person__description {
    top: 1550px;
  }

  .team__person:nth-of-type(5) .person_image {
    left: 100px;
  }

  .team__person:nth-of-type(5) .person__description {
    top: 1850px;
    right: 0;
  }

  .footer {
    margin-top: 200px;
  }
}