@font-face {
  font-family: "Alegreya";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Alegreya-Regular.woff");
}

@font-face {
  font-family: "Alegreya";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Alegreya-Bold.woff");
}

@font-face {
  font-family: "PlayfairDisplay";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Regular.woff");
}

@font-face {
  font-family: "PlayfairDisplay";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/PlayfairDisplay-Bold.woff");
}

@font-face {
  font-family: "ProximaNova";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova-Regular.woff");
}

@font-face {
  font-family: "scriptina";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/scriptina.woff");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  position: relative;
  line-height: 24px;
  font-family: "ProximaNova", sans-serif;
  color: #56534c;
  overflow-x: hidden;
  opacity: 1;
}

section {
  position: relative;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  color: #ffffff;
  text-align: center;
  background: #3f403c url("../img/header-back.jpg") center top no-repeat;
  background-size: cover;
}

.header__inner {
  background-color: rgba(86, 83, 76, 0.53);
}

.header {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-family: Scriptina,sans-serif;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 9px;
  padding-bottom: 10px;
}

.menu__item {
  display: inline-block;
  margin: 0 15px;
}

.menu__item .tilda {
  position: relative;
  left: 15px;
  top: 4px;
}

.menu__link {
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4.2px;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.menu__link:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 2px 2px 5px;
}

.menu-mobile {
  border: 1px solid transparent;
  border-radius: 10px;
}

.menu-mobile:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
}

.menu-mobile__button {
  outline: none;
}

.socials {
  margin-top: 5px;
}

.menu__opened ~ .socials {
  right: 0;
  transition: all 0.3s ease-in-out;
}

.socials__link {
  display: inline-block;
}

.socials__link svg {
  transition: all 0.2s ease-in-out;
  fill: white;
  height: 16px;
  margin-left: 18px;
}

.socials__link:hover svg {
  transition: all 0.2s ease-in-out;
}

.socials__link:hover .socials__twitter {
  fill: #02ABED;
}

.socials__link:hover .socials__facebook {
  fill: #4964A2;
}

.socials__link:hover .socials__instagram {
  fill: black;
}

.about__inner {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 214px;
}

.about__title {
  display: block;
  font-family: 'PlayfairDisplay',sans-serif;
  font-weight: bold;
  font-size: 92px;
  letter-spacing: 6.5px;
  margin-top: 237px;
  text-shadow: 0 1px 0 #3d3029;
}

.about__line {
  display: inline-block;
  margin-top: 100px;
}

.about__slogan {
  font-family: "ProximaNova", sans-serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2.4px;
  margin: 50px auto 0;
  max-width: 550px;
}

.about__menu {
  display: inline-block;
  padding: 11px 47px;
  font-family: Alegreya,sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: #ffffff;
  margin-top: 65px;
  background-color: rgba(86, 83, 76, 0.53);
  border: 1px dashed #9e9c93;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.about__menu:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 5px;
}

.logo__wheel,
.wheel__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.logo__wheel {
  z-index: 2;
}

.wheel__back {
  display: inline-block;
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
}

.art__outer {
  background-color: #fdfcfa;
}

.art {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.art__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  align-items: flex-start;
  margin-bottom: 100px;
}

.art__about,
.art__images {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(50% - 10px);
}

.art__about {
  text-align: center;
  margin-top: 110px;
}

.art__title {
  font-family: Alegreya,sans-serif;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.art__slogan {
  display: inline-block;
  font-family: Alegreya,sans-serif;
  color: #a47d5e;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: bold;
  margin-top: 20px;
}

.art__text {
  max-width: 500px;
  display: inline-block;
  line-height: 24px;
  letter-spacing: 1.4px;
  margin-top: 55px;
}

.cook {
  margin-top: 35px;
}

.cook__title {
  font-family: Alegreya,sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.cook__chef {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cook__first-name,
.cook__surname {
  font-family: Alegreya,sans-serif;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  border-top: 1px solid #d7d5ca;
  border-bottom: 1px solid #d7d5ca;
  padding: 12px 20px;
}

.cook__testimonial {
  position: relative;
  display: inline-block;
  font-family: Scriptina,sans-serif;
  color: #a47d5e;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.6px;
  width: 270px;
  margin-top: 40px;
}

.cook__testimonial .quote {
  position: absolute;
  font-family: "Times New Roman PSMT",sans-serif;
  color: #56534c;
  opacity: 0.5;
  letter-spacing: 1.5px;
  font-size: 60px;
  line-height: 30px;
}

.cook__testimonial .quote--left {
  left: -65px;
}

.cook__testimonial .quote--right {
  right: -65px;
  top: 70px;
}

.cook__photo {
  margin: 0 15px;
}

.art__images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  position: relative;
}

.art__item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
}

.art__border {
  position: absolute;
  left: 6px;
  top: 6px;
  right: 14px;
  bottom: 6px;
  border: 5px solid #ffffff;
}

.art__figure,
.art__figure-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.art__figure-text {
  text-align: center;
  width: 160px;
  display: inline-block;
  color: #c9b176;
  font-family: Alegreya,sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 18px;
}

.pancakes {
  background: #ecece7 url("../img/middle-back.jpg") no-repeat center top;
  background-size: cover;
}

.pancakes__inner {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-bottom: 100px;
}

.pancakes__block {
  margin-top: 140px;
  display: inline-block;
  width: 965px;
  position: relative;
  right: 50px;
  filter: drop-shadow(0 25px 30px rgba(105, 80, 58, 0.45));
}

.pancakes__corner {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pancakes__rating {
  position: absolute;
  left: 28px;
  top: 185px;
}

.pancakes__rating img {
  width: 22px;
  margin-bottom: 9px;
}

.pancakes__about {
  background: #f4f2f0 url("../img/Vektor-Smartobjekt_windmill.png") no-repeat right bottom;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 420px;
  text-align: left;
}

.pancakes__about-inner {
  position: relative;
  height: 100%;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pancakes__title {
  font-family: Alegreya,sans-serif;
  font-size: 48px;
  letter-spacing: 1.2px;
  font-weight: 700;
  padding-top: 86px;
}

.pancakes__description {
  font-family: Alegreya,sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: #a47d5e;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 30px;
  margin-top: 16px;
}

.pancakes__text {
  line-height: 24px;
  letter-spacing: 1.4px;
  margin-top: 30px;
}

.pancakes__slider {
  position: relative;
  height: 90px;
  margin: 0 auto;
  padding-bottom: 40px;
  width: 360px;
}

.slider__button {
  outline: none;
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid #56534c;
  border-radius: 50%;
  top: 28px;
  background-color: transparent;
  cursor: pointer;
  padding: 7px;
}

.slider__button--left {
  left: -32px;
}

.slider__button--right {
  right: -32px;
}

.slider__gallery {
  overflow: hidden;
}

.slider__container {
  width: 9999px;
  transition: margin-left 0.6s;
}

.slider__item {
  display: inline-block;
  user-select: none;
}

.slider__image {
  display: inline-block;
  border-radius: 50%;
  width: 90px;
  margin: 0 14px;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
}

.pancakes__ready {
  font-family: Alegreya,sans-serif;
  position: absolute;
  width: 200px;
  display: inline-block;
  text-align: center;
  right: -102px;
  top: -43px;
  font-weight: 700;
  letter-spacing: 1.8px;
  background: #f4f2f0 url("../img/Vektor-Smartobjekt-yard.png") no-repeat right bottom;
  padding-bottom: 27px;
  box-shadow: 0 25px 54px rgba(105, 80, 58, 0.45);
}

.ready__title {
  font-size: 18px;
  color: #a47d5e;
  text-transform: uppercase;
  margin-top: 28px;
}

.ready__time {
  color: #dfc691;
  font-size: 92px;
  margin-top: 42px;
  letter-spacing: 6px;
}

.ready__minutes {
  color: #979285;
  margin-top: 32px;
  font-size: 16px;
  letter-spacing: 3px;
}

.breakfast {
  background: url("../img/middle2-back.jpg") #3b3e4e no-repeat center top;
  background-size: cover;
}

.breakfast__inner {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 100px 0 60px;
}

.breakfast__price {
  text-align: center;
  margin-left: 110px;
}

.breakfast__title,
.breakfast__open {
  font-family: Alegreya,sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.breakfast__title {
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 3px;
}

.breakfast__open {
  color: #c8a593;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 15px;
}

.breakfast__full,
.toast__title,
.muffin__title {
  font-family: Alegreya,sans-serif;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.breakfast__full {
  margin-top: 60px;
}

.breakfast__text,
.toast__text,
.muffin__text {
  color: #c2beba;
  font-size: 16px;
  letter-spacing: 0.8px;
}

.breakfast__text {
  margin-top: 10px;
}

.breakfast__worth,
.toast__price,
.muffin__price {
  font-family: Alegreya,sans-serif;
  color: #dfc691;
  font-size: 36px;
  letter-spacing: 1.8px;
  margin-top: 23px;
}

.breakfast__logo {
  display: inline-block;
  margin-top: 18px;
}

.toast__text,
.muffin__text {
  margin-top: 13px;
}

.toast__price {
  margin-top: 23px;
}

.muffin__title {
  margin-top: 7px;
}

.breakfast__morning {
  width: 465px;
  position: relative;
  right: -80px;
  bottom: 10px;
}

.morning__container {
  text-align: center;
  position: absolute;
  left: 15px;
  top: 10px;
  right: 45px;
  bottom: 0;
}

.morning__since {
  display: flex;
  justify-content: space-between;
  font-family: Alegreya,sans-serif;
  letter-spacing: 0.7px;
  font-weight: 700;
  margin: 36px 88px 0;
}

.morning__logo {
  display: inline-block;
  margin-top: 8px;
}

.morning__title {
  font-family: Alegreya,sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.1px;
  margin-top: 53px;
}

.morning__text {
  line-height: 30px;
  letter-spacing: 0.7px;
  margin: 30px 20px;
}

.morning__button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #9e9c93;
  padding: 9px 70px;
  margin-top: 18px;
  font-family: Alegreya,sans-serif;
  color: #a47d5e;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  transition: all 0.2s ease-in-out;
}

.morning__button:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 5px;
}

.image__grain {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}

.sandwich__outer {
  background-color: #f3f1e9;
}

.sandwich {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  padding-bottom: 65px;
}

.sandwich__logo {
  display: inline-block;
}

.sandwich__title,
.sandwich__slogan {
  font-family: Alegreya,sans-serif;
  font-weight: 700;
}

.sandwich__title {
  font-size: 48px;
  margin-top: -44px;
  letter-spacing: 1.2px;
}

.sandwich__slogan {
  color: #a47d5e;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  margin-top: 15px;
}

.sandwich__inner {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: space-between;
  align-items: center;
  margin-top: -13px;
}

.sandwich__consist {
  width: calc(25% - 10px);
}

.consist__item {
  padding-bottom: 52px;
}

.consist__image {
  display: inline-block;
}

.consist__title {
  font-family: Alegreya,sans-serif;
  color: #a47d5e;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.75px;
  margin-top: 13px;
}

.consist__description {
  letter-spacing: 1.4px;
  line-height: 20px;
  margin-top: 22px;
}

.sandwich__prepare {
  margin-right: 15px;
  width: calc(66.66667% - 10px);
  position: relative;
  margin-bottom: 30px;
}

.sandwich__image {
  border: 10px solid #ffffff;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
}

.prepare__minutes {
  position: absolute;
  top: -15px;
  right: -10px;
  height: 100%;
  width: 200px;
  text-align: center;
}

.prepare__item {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 200px;
  margin-bottom: 1px;
  padding-top: 35px;
}

.prepare__item:last-child {
  background: white url("../img/Vektor-Smartobjekt-yard.png") no-repeat right bottom;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
}

.prepare__title,
.prepare__time,
.prepare__min {
  font-family: Alegreya,sans-serif;
  font-weight: 700;
}

.prepare__title {
  font-size: 18px;
  color: #a47d5e;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.prepare__time {
  font-size: 60px;
  letter-spacing: 6px;
  margin-top: 20px;
}

.prepare__min {
  color: #979285;
  letter-spacing: 1.8px;
  margin-top: 20px;
}

.full__recipe {
  cursor: pointer;
  position: absolute;
  left: -15px;
  bottom: -10px;
  border: 1px dashed #dfc691;
  background-color: #ffffff;
  font-family: Alegreya,sans-serif;
  color: #dfc691;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding: 15px 25px;
  transition: all 0.2s ease-in-out;
}

.full__recipe:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 5px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.54);
}

footer {
  background-color: #f3f1e9;
}

.footer__inner {
  max-width: 1260px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.menu-second {
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
  width: calc(41.66667% - 10px);
  white-space: nowrap;
  text-align: center;
}

.menu-second__item {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
}

.menu-second__item .tilda {
  position: absolute;
  right: -5px;
  top: 21px;
}

.menu-second__link {
  box-sizing: border-box;
  border: 1px solid transparent;
  display: inline-block;
  text-decoration: none;
  font-family: Alegreya,sans-serif;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  color: #56534c;
  transition: all 0.2s ease-in-out;
  padding: 5% 15%;
}

.menu-second__link:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-shadow: 2px 2px 5px;
}

.footer__logo {
  text-align: center;
  width: calc(16.66667% - 10px);
  font-family: Scriptina,sans-serif;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 9px;
}

.menu-mobile {
  position: fixed;
  right: 20px;
  padding: 10px;
  cursor: pointer;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.menu-mobile:focus {
  outline: 1px solid deepskyblue;
}

.menu-mobile__opened {
  right: 210px;
}

.menu-mobile__opened .menu-mobile__button {
  background-color: transparent;
}

.menu-mobile__opened .menu-mobile__button:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-mobile__opened .menu-mobile__button:after {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-mobile__button {
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 3px;
  background-color: #fff;
  bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.menu-mobile__button:after,
.menu-mobile__button:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-mobile__button:before {
  bottom: 8px;
}

.menu-mobile__button:after {
  top: 8px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 83, 76, 0.6);
  overflow: auto;
  z-index: 1001;
  animation: opacity 0.6s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal__image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  border: 2px solid white;
}

.modal__close {
  position: absolute;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 0 10px;
  z-index: 10;
}

@media screen and (max-width: 1100px) {
  .header {
    justify-content: center;
  }

  .menu {
    position: fixed;
    width: 200px;
    top: 0;
    height: 100%;
    right: -200px;
    background-color: rgba(86, 83, 76, 0.53);
    z-index: 10;
    transition: all 0.3s ease-in-out;
  }

  .menu .menu__item {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }

  .menu__opened {
    right: 0;
  }

  .menu__item .tilda {
    display: none;
  }

  .menu__link {
    border: none;
  }

  .menu__link:hover {
    border: none;
  }

  .socials {
    position: fixed;
    width: 200px;
    right: -200px;
    bottom: 0;
    z-index: 11;
    transition: all 0.3s ease-in-out;
  }

  .art__inner {
    align-items: center;
  }

  .pancakes__block {
    width: calc(91.66667% - 10px);
  }

  .pancakes__title {
    padding-top: 50px;
    line-height: 1.8rem;
  }

  .pancakes__slider {
    width: 240px;
  }

  .breakfast__price {
    width: calc(50% - 10px);
  }

  .breakfast__price {
    margin-left: 0;
  }

  .breakfast__morning {
    width: calc(50% - 10px);
  }

  .breakfast__morning {
    right: 0;
  }

  .sandwich {
    padding-bottom: 0;
  }

  .prepare__minutes {
    top: -100px;
  }

  .footer__inner {
    justify-content: center;
  }

  .menu-second {
    display: none;
  }

  .menu-mobile {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .about__inner {
    padding-bottom: 180px;
  }

  .about__title {
    font-size: 80px;
    line-height: 1.65;
  }

  .pancakes__about-inner {
    padding: 0 40px;
  }

  .pancakes__title {
    padding-top: 40px;
  }

  .pancakes__slider {
    width: 120px;
  }

  .pancakes__ready {
    top: -140px;
  }

  .breakfast__title {
    font-size: 40px;
  }

  .breakfast__open {
    font-size: 16px;
  }

  .breakfast__full,
  .toast__title,
  .muffin__title {
    font-size: 26px;
  }

  .breakfast__full {
    margin-top: 40px;
  }

  .breakfast__text,
  .toast__text,
  .muffin__text {
    font-size: 14px;
  }

  .breakfast__worth,
  .toast__price,
  .muffin__price {
    font-size: 30px;
    margin-top: 8px;
  }

  .morning__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .morning__since {
    width: 60%;
  }

  .morning__title {
    font-size: 36px;
    margin-top: 20px;
  }

  .morning__text {
    margin: 10px 20px;
  }

  .sandwich {
    padding-bottom: 40px;
  }

  .sandwich__inner {
    margin-top: 15px;
  }

  .sandwich__consist {
    width: calc(100% - 10px);
  }

  .sandwich__consist {
    display: flex;
  }

  .sandwich__prepare {
    width: calc(100% - 10px);
  }

  .prepare__minutes {
    top: -15px;
  }
}

@media screen and (max-width: 780px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__inner {
    padding-bottom: 100px;
  }

  .about__title {
    font-size: 60px;
    margin-top: 150px;
  }

  .about__line {
    margin-top: 50px;
  }

  .about__slogan {
    font-size: 18px;
  }

  .art {
    padding-left: 15px;
    padding-right: 15px;
  }

  .art__inner {
    margin-bottom: 50px;
  }

  .art__about,
  .art__images {
    width: calc(100% - 10px);
  }

  .art__title {
    font-size: 35px;
  }

  .cook__chef {
    flex-wrap: wrap;
  }

  .cook__testimonial .quote--left {
    left: 0;
  }

  .cook__testimonial .quote--right {
    right: 0;
  }

  .art__images {
    margin-top: 60px;
  }

  .art__photo {
    width: 100%;
  }

  .pancakes__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .pancakes__block {
    position: static;
  }

  .pancakes__image {
    position: relative;
  }

  .pancakes__photo {
    width: 100%;
  }

  .pancakes__corner {
    display: none;
  }

  .pancakes__about {
    position: static;
  }

  .pancakes__about-inner {
    text-align: center;
  }

  .pancakes__title {
    font-size: 35px;
  }

  .pancakes__text {
    padding-bottom: 30px;
  }

  .pancakes__slider {
    width: 480px;
    text-align: left;
  }

  .pancakes__ready {
    right: 10px;
    top: -43px;
  }

  .breakfast__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .breakfast__price {
    width: calc(100% - 10px);
  }

  .breakfast__price {
    padding-bottom: 30px;
  }

  .breakfast__morning {
    width: calc(66.66667% - 10px);
  }

  .morning__image {
    height: 100%;
  }

  .morning__text {
    margin: 10px 0;
  }

  .morning__button {
    margin: auto 0 60px 0;
  }

  .sandwich {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sandwich__title {
    font-size: 40px;
    line-height: 2.2rem;
  }

  .prepare__minutes {
    width: 150px;
    top: 0;
  }

  .prepare__item {
    width: 150px;
    height: 150px;
    padding-top: 15px;
  }

  .prepare__title {
    font-size: 14px;
  }

  .prepare__time {
    font-size: 40px;
    margin-top: 5px;
  }

  .footer__inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer__logo {
    width: auto;
  }
}

@media screen and (max-width: 580px) {
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about__inner {
    padding-bottom: 70px;
  }

  .about__title {
    font-size: 48px;
    margin-top: 100px;
  }

  .art {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pancakes__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pancakes__inner {
    padding-bottom: 30px;
  }

  .pancakes__block {
    margin-top: 60px;
  }

  .pancakes__rating {
    top: 20px;
  }

  .pancakes__slider {
    width: 240px;
  }

  .slider__button--left {
    left: -12px;
  }

  .slider__button--right {
    right: -12px;
  }

  .pancakes__ready {
    width: 100px;
    padding-bottom: 15px;
  }

  .ready__title {
    margin-top: 15px;
    font-size: 14px;
  }

  .ready__time {
    font-size: 40px;
    margin-top: 5px;
  }

  .ready__minutes {
    margin-top: 10px;
    font-size: 14px;
  }

  .breakfast__inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .breakfast__inner {
    padding: 30px 0 30px;
  }

  .breakfast__morning {
    width: calc(83.33333% - 10px);
  }

  .morning__button {
    margin-bottom: 30px;
  }

  .sandwich {
    padding-left: 10px;
    padding-right: 10px;
  }

  .sandwich__consist {
    flex-wrap: wrap;
    justify-content: center;
  }

  .consist__item {
    width: calc(66.66667% - 10px);
  }

  .prepare__minutes {
    box-sizing: border-box;
    top: -10px;
    width: 310px;
  }

  .prepare__item {
    width: 100px;
    display: inline-block;
    height: 120px;
  }

  .prepare__min {
    margin-top: 10px;
  }

  .footer__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
}